<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>{{ title }}</title>
    <script>
        function inputValidation() {
            let xfield, ysfield, text;
            xfield = document.getElementsByName("x").value
            yfield = document.getElementsByName("y").value

            if (isNaN(x) || x < 0 || x > 9) {
                text = "Input not valid";
            } else {
                text = "Input OK";
            }
            document.getElementById("demo").innerHTML = text;
        }

</script>

</head>